/*
COLOUR        HEX CODE
----------------------
Navyblue       #34475e
Darknavyblue   #28374b
Orange         #d85200
Lightorange    #df7432
White          #fffdff
Lightcream     #f4efe3
Cream          #EAE0C7
*/

.chat-message-sender {
    background-color: #314660;
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    text-indent: 10px;
}
.chat-message-sender input {
    width: 60%;
}
#chat-container * {
    word-wrap: break-word;
    transition: text-shadow .6s;
}
#chat-container *:target {
    text-shadow: 0 0 1px, 0 0 1px;
}
input#message-field {
    border: none;
    height: 23px;
    flex-grow: 2;
    color: #df7432;
    text-indent: .6em;
    background-color: #28374b;
    border-bottom: 2px solid #d85200;
    border-radius: 5px 5px 0px 0px;
}
input#message-field:focus {
    outline: none;
    /*border-bottom-color: #df7432;*/
}
input#message-field::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}
input#message-field:hover::after {
    width: 100%;
    /*transition: width .3s;*/
}
input#message-field[disabled] {
    background-color: #34475e;
}

/* Center div */
.center-div {
    position: absolute;
    margin: auto; overflow: auto;
    top: 0; right: 0;
    bottom: 0; left: 0;
    width: 525px; height: 170px;
    background-color: #34475e;
    border-radius: 4px;
    text-align: center;
    color: #EAE0C7;
}
.center-div a img {
    float: left;
    width: 130px;
    height: 130px;
}