nav#navbar {
    background-color: #34475e;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
}
nav#navbar img {
    float: left;
    width: 46px;
    height: 46px;
}
nav#navbar a {
    float: left;
    display: block;
    color: #EAE0C7;
    font-weight: 500;
    padding: 14px 16px;
    text-decoration: none;
}
nav#navbar a:hover {
    color: #d85200;
    font-weight: bold;
}
nav#navbar a.star {
    color: #d85200;
    font-weight: bold;
    float: right;
}
nav#navbar a.star:hover {
    color: #EAE0C7;
}
nav#navbar a.star#actually-p {
    color: #EAE0C7;
    font-weight: 500;
}
