/*
COLOUR        HEX CODE
----------------------
Navyblue       #34475e
Darknavyblue   #28374b
Orange         #d85200
Lightorange    #df7432
White          #fffdff
Lightcream     #f4efe3
Cream          #EAE0C7
*/

/* Custom font coz crappy macs won't just accept 'font-family: Consolas' 🙄 */
@font-face {
    font-family: "CustomConsolas";
    src: url("/static/fonts/consolas.eot");
    src: url("/static/fonts/consolas.ttf") format("truetype"),
         url("/static/fonts/consolas.otf") format("opentype"),
         url("/static/fonts/consolas.woff") format("woff"),
         url("/static/fonts/consolas.woff2") format("woff2");
}

/* Global properties */
* {
    font-family: "CustomConsolas", "Consolas", "Helvetica";
    color: #d85200;
}

/* General */
body {
    background-color: #f4efe3;
}
button {
    border: none;
    text-align: center;
    padding: 7px;
    color: #EAE0C7;
    border-radius: 8px;
    background-color: #d85200;
}
input {
    border: 2px solid #d85200;
    border-radius: 5px;
}

/* Scrollbar */
::-webkit-scrollbar {width: 15px}
::-webkit-scrollbar-track {background: #EAE0C7}
::-webkit-scrollbar-thumb {background: #28374b}
::-webkit-scrollbar-thumb:hover {background: #28374b}

/* Gotta have a navbar! */
nav {
    background-color: #34475e;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
}
nav img {
    float: left;
    width: 46px;
    height: 46px;
}
nav a {
    float: left;
    display: block;
    color: #EAE0C7;
    font-weight: 500;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    color: #d85200;
    font-weight: bold;
}
nav a.star {
    color: #d85200;
    font-weight: bold;
    float: right;
}
nav a.star:hover {
    color: #EAE0C7;
}
nav a.star#actually-p {
    color: #EAE0C7;
    font-weight: 500;
}
