/*
COLOUR        HEX CODE
----------------------
Navyblue       #34475e
ANavyblue      #2E4661
Darknavyblue   #28374b
Orange         #d85200
AOrange        #D85200
Lightorange    #df7432
White          #fffdff
AWhite         #FEFEFE
Lightcream     #f4efe3
Cream          #EAE0C7
*/

/* Custom font coz crappy macs won't just accept 'font-family: Consolas' 🙄 */
@font-face {
    font-family: "CustomConsolas";
    src: url("/static/fonts/consolas.eot");
    src: url("/static/fonts/consolas.ttf") format("truetype"),
         url("/static/fonts/consolas.otf") format("opentype"),
         url("/static/fonts/consolas.woff") format("woff"),
         url("/static/fonts/consolas.woff2") format("woff2");
}

/* Global properties */
* {
    font-family: "CustomConsolas", "Consolas", "Helvetica";
    color: #d85200;
}

/* General */
body {
    background-color: #f4efe3;
}
button {
    border: none;
    padding: 7px;
    color: #EAE0C7;
    border-radius: 8px;
    background-color: #d85200;
}
input {
    border: 2px solid #d85200;
    border-radius: 5px;
}

/* Scrollbar */
::-webkit-scrollbar {width: 15px}
::-webkit-scrollbar-track {background: #EAE0C7}
::-webkit-scrollbar-thumb {background: #28374b}
::-webkit-scrollbar-thumb:hover {background: #28374b}

/* Center div */
.center-div {
    position: absolute;
    margin: auto; overflow: auto;
    top: 0; right: 0;
    bottom: 0; left: 0;
    width: 525px; height: 170px;
    background-color: #34475e;
    border-radius: 4px;
    text-align: center;
    color: #EAE0C7;
}
.center-div a img {
    float: left;
    width: 130px;
    height: 130px;
}