{% extends "_base.jinja" %}
{% block title %}Admin homepage{% endblock title %}

{% block body %}
    <h1>Admin Homepage</h1>
    <ul>
        {% for route in adminroutes %}
            <li>
                <a href="{{ request.url }}{{ route.path[1:] }}">
                    {{ request.url }}{{ route.path[1:] }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock body %}
