<html>
    <head>
        <style>
            * {
                font-family: "Consolas";
            }
        </style>
    </head>
    <body id="chat-container">
        <div>
            <form onsubmit="return false">
                <input id="message-field" type="text" placeholder="Enter a message">
                <button onclick="send_message()">Send</button>
            </form>
        </div>
        <hr>
        <script type="text/javascript" src="/assets/js/chat.js"></script>
    </body>
</html>
