/*
COLOUR        HEX CODE
----------------------
Navyblue       #34475e
Darknavyblue   #28374b
Orange         #d85200
White          #fffdff
Cream          #EAE0C7
*/

/* Global properties */
* {
    font-family: "Consolas";
    color: #d85200;
}

/* General */
button {
    border: none;
    text-align: center;
    padding: 7px;
    color: #EAE0C7;
    border-radius: 8px;
    background-color: #d85200;
}

/* Chat styling */
.chat-message-sender {
    background-color: #314660;
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    text-indent: 10px;
}
.chat-message-sender input {
    width: 60%;
}
.chat-container {
    color: #d85200;
}

/* Gotta have a navbar! */
.navbar {
    /* Background bar */
    background-color: #34475e;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
}
.navbar img {
    /* Icon */
    float: left;
    width: 46px;
    height: 46px;
}
.navbar a {
    /* Normal links */
    float: left;
    display: block;
    color: #EAE0C7;
    font-weight: 500;
    font-family: "Consolas";
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    color: #d85200;
    font-weight: 1000;
}
.navbar a#star {
    /* Buttons on the right */
    color: #d85200;
    font-weight: 1000;
    float: right;
}
.navbar a#star:hover {
    color: #EAE0C7;
}
.navbar a#star.actually-p {
    color: #EAE0C7;
    font-weight: 500;
}
