<!DOCTYPE html>
<html lang="en">
    <head>
        {# Basic stuff #}
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/static/css/thefbi.css"/>
        <link rel="icon" href="/static/images/sleuth.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>{% block title %}Sleuth chat app{% endblock title %} • Sleuth chat app</title>

        {# For the PWA #}
        <link rel="manifest" href="/static/manifest.json">
        <link rel="apple-touch-icon" href="/static/images/sleuth.png">
        <script src="/upup.min.js"></script>
        <script>
            if (window.location.protocol == "http:" && !window.location.host.match(/localhost/)) {
                console.log("[PROTOCOL] Redirecting HTTP to HTTPS");
                var restOfUrl = window.location.href.substr(5);
                window.location = "https:" + restOfUrl;
            }
            console.log(`[PROTOCOL] Your protocol is "${window.location.protocol}"`);

            //if ("serviceWorker" in navigator) {navigator.serviceWorker.register("service-worker.js")}
            UpUp.start({
                "content-url": "offline",
                "assets": [
                    "/static/css/thefbi.css", "/static/images/sleuth.png",
                    "/static/fonts/consolas.eot", "/static/fonts/consolas.oft",
                    "/static/fonts/consolas.ttf", "/static/fonts/consolas.woff",
                    "/static/fonts/consolas.woff2"
                ]
            });
        </script>

        {# All the meta tags required for the website embed in Discord #}
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Made by aidzman">
        <meta property="og:title" content="{{ self.title() }} • Sleuth chat app">
        <meta property="og:description" content="{% block description %}A simple chat app I designed for school use when all other sites are blocked by the wifi's restrictions.{% endblock description %}">
        <meta property="og:image" content="/static/images/sleuth.png">
        <meta name="theme-color" content="#d85200">

        {# Other meta tags for google and stuff (confirmation of ownership is in `index.jinja`) #}
        <meta name="description" content="{{ self.description() }}">

        {% block head %}
            {# Extra content #}
        {% endblock head %}
    </head>
    <body>
        {# Gotta have a navbar! #}
        {% block navbar %}
            <nav>
                <a href="/" style="padding: 0px 0px">
                    <img src="/static/images/sleuth.png" href="/" alt="Sleuth icon">
                </a>
                <a href="/">Home</a>

                {% if request.cookies.get("sleuth_token") in app.tokens.values() %}
                    {% if app.is_admin(app.rtokens[request.cookies["sleuth_token"]]) %}
                        <a href="/a/">Admin</a>
                    {% endif %}

                    <a href="/logout" class="star">Logout</a>
                    {% if request.path != "/chat/" %}
                        <a href="/chat/" class="star">Join chat</a>                
                    {% endif %}
                    <a class="star" id="actually-p">Welcome, {{ app.rtokens[request.cookies["sleuth_token"]] }}</a>
                {% else %}
                    <a href="/login" class="star">Login</a>
                {% endif %}
            </nav><br>        
        {% endblock navbar %}

        {% block body %}
            {# Code for 404 because it is otherwise redefined #}
            <div class="center-div">
                <a href="/"><img src="/static/images/sleuth.png" alt="Sleuth icon"></a>
                <h2>404 This page existn't</h2>
                <h3>You find yourself in a strange place, there doesn't seem to be anything here 🤔 Click <a href="/">here</a> to return home</h3>
            </div>
        {% endblock body %}
    </body>
</html>
