{% extends "_base.jinja" %}
{% block title %}{{name}} in chat{% endblock title %}

{% block body %}
    <br><br>
    <div id="chat-container">
        <script type="text/javascript" src="/assets/chat.js"></script>
    </div>

    <br><br>
    <div class="chat-message-sender">
        <hr>
        <form onsubmit="return false" style="color: white">
            <input id="message-field" type="text" placeholder="Enter a message">
            •
            <button onclick="send_message()">Send</button>
        </form>
    </div>
{% endblock body %}
