{% extends "_base.jinja" %}
{% block title %}Home{% endblock title %}

{% block head %}
    {# Google verification #}
    <meta name="google-site-verification" content="t64Qjhb3F3wGbbI2WySfx0JshVNrYMRhXabZh0lZfDE"/>

    {# JS and CSS #}
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
    <script type="text/javascript" src="/static/js/index.js"></script>
{% endblock head %}

{% block body %}
    <h1 style="border-bottom: 0px;">Sleuth chat app</h1>
    <p style="border-top: 0px;">Use the navbar <a href="/login" style="font-weight: 750">login</a> button in the top right and then the <a href="/chat/" style="font-weight: 750">join chat</a> button to join the chat.</p>

    <div id="notifications-div" class="section">
        <h2>Notifications</h2>
        <p>
            <span id="notification-status" style="color: orange">Uh oh</span>
            - 
            <span id="notification-description">If you can see this message, your notification status could not be retrieved 🤔 Either you don't have JavaScript enabled or you're on a mobile browser 😥</span>
            <script>check_notification_status()</script>
        </p>
    </div>

    <div id="pwa-install-div" class="section">
        <h2>Application</h2>
        <p>Use the following button to install this website as an app:</p>
        <button id="pwa-install-button">Install</button>
    </div>

    <div id="currently-in-chat-div" class="section">
        <h2>Currently in chat</h2>
        {% if len(app.websockets) > 0 %}
            <table>
                <tr>
                    <th>Username</th>
                    <th>Nickname</th>
                </tr>

                {% for ws in app.websockets %}
                    <tr>
                        <td>{{ ws.name }}</td>
                        <td>{{ ws.nickname or "Not set" }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No one is currently in chat</p>
        {% endif %}
    </div>

    <div id="username-list-div" class="section">
        <h2>Username list</h2>
        <p>A list of users so you know who everyone is in chat</p>
        <table>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Nickname</th>
            </tr>

            {% for user in app.user_conversion.items() %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1][0] }}</td>
                    <td>{{ user[1][1] or "Not set" }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock body %}
