{% extends "_base.jinja" %}
{% block title %}Home{% endblock title %}
{# The index page of the website #}

{% block body %}
    <h1><b>Sleuth</b> chat app</h1>
    {{ lipsum(5) }}
    {#Your authorization: {{request.cookies.get("token")}}#}
{% endblock body %}
