{% extends "_base.jinja" %}
{% block title %}Info{% endblock title %}

{% block body %}
    <h1>Info</h1>
    <p>A bunch of info + relevent info</p>
    
    {# Table of contents #}
    <a name="contents"><h2>Table of contents</h2></a>
    <ul>
        <li><a href="#contents">Contents</a></li>
        <li><a href="#getting-a-login">Getting a login</a></li>
        <li><a href="#why-wont-my-message-send">Message not sending?</a></li>
        <li><a href="#why-no-http">Y u no http?</a></li>
    </ul>

    {# Actual stuff #}
    <a name="getting-a-login"><h2>Getting a login</h2></a>
    <a name="why-wont-my-message-send"><h2>Message not sending?</h2></a>
    <a name="why-no-http"><h2>Y u no http?</h2></a>
    {% for i in range(1000) %}
        <br>
    {% endfor %}
{% endblock body %}
