{% extends "_base.jinja" %}
{% block title %}Login{% endblock title %}

{% block head %}
    <script>
        function check_params() {
            var login_field = document.getElementsByName("user")[0];
            var username = new URL(location.href).searchParams.get("username");
            if (username) {login_field.value = username;}
        }
    </script>
{% endblock head %}

{% block body %}
    <br>
    <form action="/login" method="POST">
        <p>Username: <input name="user" type="text" id="user-input-field" required></p>
        <p>Password: <input name="pass" type="password" id="pass-input-field" required></p>
        <button type="submit">Log in</button>
    </form>
    <script>check_params()</script>
{% endblock body %}
